@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>
            Welcome to Matt Crawford's Online Binary Expression Evaluator.
            <br />
            <br />
            <a href="https://github.com/mattc972/OnlineBinaryExpressionEvaluator">Here is the GitHub repository for this project.</a>
        </p>
    </div>

    
